<div class="games-ribbon"><header><a href="/" class="games-green-link"><div class="games-pre" id="games-title-small">
games.jjv.sh

</div><div class="games-pre" id="games-title-medium">
  _   _   _ _   _  _     ___  ___        _      
 |   |_| | | | |_ |_      |    |  | /   |_  |_| 
 |_| | | | | | |_  _| o |_|  |_|  |/  o  _| | | 


</div><div class="games-pre" id="games-title-large">
                                              _     _                _       
                                             (_)   (_)              | |      
   ___ _  ___ _  _________  ____   ___        _     _  _   __   ___ | |___   
  (  _` |(  _` ||  _   _  )( __ \ / __)      | |   | || | / /  / __)|  _  )  
  | (_| || (_| || | | | | || ___/|___ | _    | |   | || |/ /_ |___ || | | |  
  (___, |(___,_||_| |_| |_|\____)(___/ (_) _ | | _ | ||___/(_)(___/ |_| |_|  
   ___| |                                 | || || || |                       
  (_____)                                 (____)(____)                       

</div>
</a></header>
<nav class="games-nav games-font"><div id="games-nav-dropdown">&#9776;</div><input id="games-nav-toggle" type="checkbox" checked><ul>
{{- range .nav }}
<li{{ if eq $.active .Name }} id="games-active"{{ end }}>
    <a href="{{ (index .URLs 0) }}">{{ .Name }}</a>
</li>
{{- end }}
</ul></nav></div>
<div class="games-main">